.custom-position {
  position: absolute;
  top: 20%;
  left: 9%;
}
.img-icon {
  width: 4%;
  margin-left: 5px;
}
@media only screen and (max-width: 688px) {
  .custom-position {
    position: relative;
    top: -150px;
    width: 310px;
  }
  h1 {
    color: white;
    font-size: 25px;
  }
  p {
    color: white;
    font-size: 12px;
  }
}
